@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gluten:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gluten:wght@800&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --theme-primary: #f7f7f7fb;
    --theme-check: #C6EFA6;

    --theme-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

body{
    width: 100%;
    min-height: 100vh;
    min-width: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url(../Images/wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header{
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

h1{
    font-family: 'Gluten', cursive;
    color: black;
    /*color: var(--theme-primary);*/
    font-size: 5rem;
    -webkit-text-stroke: .7px white;
}

#container-general{
    display: flex;
	justify-content: center;
	align-items: center;
    width: 50%;
    background-color: var(--theme-primary);
}

.inputs{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    margin: 0.25rem;
    margin-right: 0;
    transition: .5s;
    font-size: 1.15rem;
}

.inputs-edit {
    outline: none;
    border: none;
    height: 100%;
    width: 80%;
    margin: 0.25rem;
    margin-right: .7rem;
    transition: .5s;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.2rem;
    padding-top:0.3rem; 
    background-color: transparent;
}

p{
    margin: 0;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.2rem;
    width: 100%;
    padding-top:0.3rem; 
}

.btn-add {
    padding: 5px 15px;
    border: none;
    outline: none;
    background-image: url(../Images/add.png);
    background-size: cover;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 0.4rem;
}

.list-task{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
    width: 50%;
}

ul{
    padding: 0;
    padding-bottom: 5rem;
    width: 100%;
}

.li-task{
    list-style: none;
    background-color: var(--theme-primary);
    margin-top: 15px;
    display: flex;
    text-decoration: none;
    padding: 0.3rem 0.3rem 0.3rem .6rem;
}

.btn-edit{
    padding: 5px 15px;
	background-image: url(../Images/edit2.png);
    background-size: cover;
	outline: none;
	border: none;
	cursor: pointer;
    height: 40px;
    width: 40px;
}

.btn-delete{
    padding: 5px 15px;
	background-image: url(../Images/delete.png);
    background-size: cover;
	outline: none;
	border: none;
	cursor: pointer;
    height: 40px;
    width: 40px;
}

.btn-check{
    padding: 5px 15px;
	background-image: url(../Images/check.png);
    background-size: cover;
	outline: none;
	border: none;
	cursor: pointer;
    height: 40px;
    width: 40px;
}

.btn-update{
	background-image: url(../Images/update.png);
    background-size: cover;
	outline: none;
	border: none;
	cursor: pointer;
    height: 40px;
    width: 40px;
    margin-left: .5em;
}

.default-text > p{
    margin: 0;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5rem;
    font-weight: 5000;
    color:var(black);
}

@media only screen and (max-width: 900px){
    #container-general{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        background-color: var(--theme-primary);
    }

    .list-task{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        width: 80%;
    }
}